* {
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: #121211;
    text-shadow: 2px 2px white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #CFB645;
}

.menu {
    width: 100%;
    background-color: #121211;
    text-align: center;
    display: flex;
    letter-spacing: 3px;
    height: 120px;
    border-bottom: solid 3px #e5322a;
    position: fixed;
    z-index: 3;
}

.menu ul {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
    margin: 200px;
    margin-top: 70px;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: 0.8s;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
}

img {
    width: 120px;
    height: 120px;
    margin-left: 15px;
}

.menu a:hover {
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
    padding: 10px;
    transition: 0.8s;
}

#descricao {
    font-size: 28px;
    color: white;
}

#descricaoDiv {
    position: absolute;
    left: 50%;
    top: 18%;
    height: 470px;
    width: 750px;
    border-radius: 30px;
    background-color: #e5322a;
    display: flex;
    flex-direction: column;
    gap: 15%;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

#imgG {
    width: 500px;
    height: 500px;
    padding: 120px;
    margin-top: 40px;
    margin-left: 150px;
    border-radius: 25%;
}

#rodape {
    display: flex;
    padding: 20px 40px;
    background-color: #121211;
    color: white;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #e5322a;
}

#rodape img {
    height: 30px;
    width: 30px;
}

#rodape #logoRodape{
    width: 120px;
    height: 120px;
    margin-left: -40px;
}

#rodape div {
    padding: 0 20px;
    border-left: 1px solid #000000;
    border-left: none;
}

#rodape label {
    display: block;
}

#rodape img+label {
    display: inline;
}
#rodape #desc{
    width: 400px;
}